<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAC to FG Syntax conversion</title>
</head>
<body>
    <h1>Upload txt with MAC addresses</h1>
    <form action="/mac-to-fgsyntax/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="file">

        <label for="addrGrp">Enter address group name:</label>
        <input type="text" id="addrGrp" name="addrGrp">
        
        <button type="submit">Upload</button>
    </form>
    {{if .}}
    <p>File uploaded: {{.}}</p>
    {{end}}
    <a href="/">Back to Index</a>
</body>
</html>
